* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{ 
    height: 100%;
}

body{ 
    background-color: bisque;
    front-size: 1.2rem;
    min-height: 100%;
    text-align: center;
}

.grid-contenedor{
    background-color: brown;
    box-shadow: -1px 1px 7px 0px violet;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
   
}
.grid-contenedor{
    display:grid;
    gap : 10px;
    grid-template-rows: 100px 100px;
     grid-template-columns: 1fr 2fr;
     border: 10px;
}
  
.grid-contenedor:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}


.header{
    background-color: aqua;
    text-align: center;
}




