* {
    box-sizing: border-box;
    margin: 0px;
    padding: 1px;
}


html{ 
    height: 100%;
    
}

body{
     
    background-color: rgb(3, 0, 0);
    font-size: 1.5rem;
    min-height: 100%;
}



.grid-contenedor{
    background-color: rgb(115, 127, 127);
    box-shadow: -1px 1px 7px 1px rgb(5, 1, 5);
    border-radius: 1px;
    padding: 10px;   
}


.grid-contenedor{
     display:grid;
     gap : 0px;
     grid-template-rows: 100px 100px;
     grid-template-columns: 1fr 2fr;
     border: 1px;
}
  
.grid-contenedor:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    
}


.header{
    background-color: rgb(138, 240, 240);
    text-align: center;
    display: grid;
    grid-column-start: 1;
    grid-column-end:6;
    margin:1px;
    
}
.navb {
    
    background-color: rgb(138, 240, 240);
    display: grid;
    grid-column-start:1;
    grid-row: 5 span ;
    grid-area: 2 / 2 / 4 /1;
    
}

.estudio {
    background-color: rgb(138, 240, 240);
    display: grid;
    grid-column-start:3;
    grid-row: 5 span ;
    grid-area: 4 / 1 / 7 /1 ;
    margin: 1px;
    
}

.cen{
    text-align: center;
    color: rgb(0, 0, 0);
}



.sider {
    background-color: rgb(138, 240, 240);
    display: grid;
    grid-column-start: 2;
    grid-column-end: 8 span ;
    grid-row: 2;
    grid-template-columns: 0 px 100px;
    grid-area: 2 / 2 / 4 /9;
    margin: 1px;
   
    
}



.hobbie {
    background-color: rgb(138, 240, 240);
    display: grid;
    grid-column-start: 3;
    grid-column-end: 6 span ;
    grid-row:3;
    grid-template-columns: 0 px 50%;
    grid-area: 4 / 4 / 4 /2;
    margin:1px;
}

.experiencia{
    background-color: rgb(138, 240, 240);
    display: grid;
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-template-columns: 0 px  100%;
    grid-area: 7 / 6/ 5/2;
    margin:1px;
}


.footer {
    background-color: rgb(58, 79, 84);
    display: grid;
    grid-column-start: 1;
    grid-column-end: 10 span ;
    grid-template-columns: 100% 200px;
    grid-area: 0 / 8 / 5 /2;
    margin:1px;
    text-align: center;
}

.imagen3{
    padding: 1px; 
    margin: 10px; 
    border: 2px solid black; 
    float: center; 
    width: 150px;
}

.rayo{
   display: grid;
   grid-column-start:1;
   grid-area: 1 / 1 / 0 /0;
   padding: 1px; 
    margin: 1px; 
    border: 2px solid black; 
    float: center; 
    width: 100px

}